<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.TopicDao">

	<select id="findByTopicId" resultMap="topicResult">
		select * from topic where
		topicId = #{id}
	</select>

	<select id="findAll" resultMap="topicResult">
		select * from topic order by topicId
	</select>

	<!-- #{xxx}は、TopicDaoに定義されているフィールドとmappingする？  -->
	<insert id="insert">
		insert into topic (content, name, date) values(#{content}, #{name}, #{date})
	</insert>

	<resultMap type="com.sample.Topic" id="topicResult">
		<result column="topicId" property="topicId" />
		<result column="content" property="content" />
		<result column="name" property="name" />
		<result column="date" property="date" />
	</resultMap>



</mapper>